﻿<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Profils</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-2">
            <div>
                User of InterZoo Nom
            </div>
            <div>
                @Model.Nom
            </div>
        </div>
        <br />
      
        
        <div class="col-2">
            <div>
                Email of user of InterZoo
            </div>
            <div>
                @Model.Email
            </div>
        </div>
        
    </div>



</div>
<!-- /.container-fluid -->