﻿    @model IEnumerable<InterZoo.Areas.User.Models.AnimalModel>

    @{
    ViewBag.Title = "Index";
    }
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDeNaissance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDeDecede)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDeNaissance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDeDecede)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdAnimal }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdAnimal }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdAnimal})
            </td>
        </tr>
        }

    </table>
